<div class="container-fluid mt-3">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="mb-0">Incidents</h3>
    <button class="btn btn-primary shadow-sm" (click)="createNewIncident()">
      <i class="bi bi-plus-lg me-1"></i> New Incident
    </button>
  </div>

  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-body">
      <div class="row g-2">
        <div class="col-md-4">
          <input type="text" class="form-control" disabled placeholder="Search by Keyword or ID...">
        </div>
        <div class="col-md-3">
          <select class="form-select" disabled>
            <option selected>All Incident Types</option>
            <option>Theft</option>
            <option>Medical</option>
            <option>Safety Hazard</option>
          </select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-secondary w-100 disabled">Filter</button>
        </div>
        <div class="col-md-2">
            <p class="text-muted small">TODO: Search</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-0 shadow-sm">
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-light">
          <tr>
            <th>Date/Time</th>
            <th>Category</th>
            <th>Severity</th>
            <th>Reported By</th>
            <th>Status</th>
            <th class="text-end">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let incident of this.incidentService.incidentList()">
            <td>{{ incident.createdAt | date:'short' }}</td>
            <td class="fw-bold text-primary">{{ incident.category.name }}</td>
            <td><span class="badge bg-light text-dark border">{{ incident.severity.name }}</span></td>
            <td>{{ incident.reportedBy.firstName }} {{ incident.reportedBy.lastName }}</td>
            <td>
              <span class="badge" [ngClass]="incident.status === status.Draft ? 'bg-warning text-dark' : 'bg-success'">
                {{ incident.status }}
              </span>
            </td>
            <td class="text-end">
              <button class="btn btn-sm btn-outline-primary" (click)="editIncident(incident.id)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger" (click)="openDelete(incident.id)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-confirm-dialog
  #deleteDialog
  title="Delete Incident"
  message="Are you sure you want to delete this incident?"
  (confirmed)="deleteIncident()">
</app-confirm-dialog>