<div class="d-flex flex-column p-3 text-white h-100">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/incidents" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-exclamation-triangle me-2"></i> Incidents
      </a>
    </li>
    <li>
      <a routerLink="/logs" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-journal-text me-2"></i> Activity Logs
      </a>
    </li>
  </ul>
  <hr>
  <div class="small px-2">
    System Status: <span class="text-success">● Online</span>
  </div>
</div>