<div class="container">
    <h3>Login</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="loginEmail" class="form-label">Email address</label>
            <input id="loginEmail" aria-describedby="emailHelp" class="form-control" type="email"
                [(ngModel)]="loginData.email" name="email" placeholder="email" required />
        </div>
        <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input id="loginPassword" [(ngModel)]="loginData.password" name="password" type="password" 
                class="form-control" placeholder="Password" required />
        </div>
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>