<div class="container">
    <h3>Login</h3>
    <form (submit)="onSubmit($event)">
        <div class="mb-3">
            <label for="loginEmail" class="form-label">Email address</label>
            <input id="loginEmail" aria-describedby="emailHelp" class="form-control" type="email"
                [formField]="loginForm.email" placeholder="email" />
            @if (loginForm.email().touched() && loginForm.email().invalid()) {
            <ul class="error-list">
                @for (error of loginForm.email().errors(); track error) {
                <li>{{ error.message }}</li>
                }
            </ul>
            }
        </div>
        <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input id="loginPassword" [formField]="loginForm.password" type="password" class="form-control"
                placeholder="Password" />
            @if (loginForm.password().touched() && loginForm.password().invalid()) {
            <ul class="error-list">
                @for (error of loginForm.password().errors(); track error) {
                <li>{{ error.message }}</li>
                }
            </ul>
            }
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm().invalid()">Login</button>
    </form>
</div>